.card {
    margin : 30px auto;
    display : flex;
}

.card img {
    width : 150px;
    margin-right : 20px;
}

.card a {
    text-decoration: none;
    color: black;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8;
}

.edit-btn,
.del-btn {
    width: 30px;
    height: 30px;
    background: none;
    font-size: 20px;
    line-height: 1; /* 이모지의 높이를 균일하게 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.del-btn {
    margin-left: 5px;
    cursor: pointer;
}

.page-box {
    display: flex;
    margin-left: 20px;
}

.page-box div {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
}

.page-box div a {
    text-decoration: none;
    color: black;
}