.container {
    width: 100%;
}

table {
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
}

tr {
    margin: 0;
}

th, td {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid;
}

.id {
    width: 50px;
    text-align: center;
}