<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
</head>
<body>

    <div th:replace="~{nav.html :: navbar}"></div>

    <div class="card" th:each="i : ${items}">
        <a th:href="@{'/detail/' + ${i.id} }">
            <img src="https://placehold.co/300">
        </a>
        <div>
            <a th:href="@{'/detail/' + ${i.id} }">
                <h4 th:text="${i.title}">바지</h4>
            </a>
            <p th:text="${i.price} + '원'">70000원</p>
            <div class="btn-box">
                <a class="edit-btn" th:href="@{'/edit/' + ${i.id}}">✏️</a>
                <button class="del-btn" th:onclick="fetch('/item?id=[[${i.id}]]', {method: 'DELETE'})">🗑️</button>
            </div>
        </div>
    </div>

<!--    <a href="/list/page/1">1번페이지</a>-->
<!--    <a href="/list/page/2">2번페이지</a>-->
<!--    <a href="/list/page/3">3번페이지</a>-->
    <div class="page-box">
        <div th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/list/page/{num}(num=${pageNum})}" th:text="${pageNum}"></a>
        </div>
    </div>

    <script>
//        document.querySelectorAll('.del-btn')[0].addEventListener('click', function(){
            /*
            fetch('/test1', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({title: "투피스", price: 80000})
            })
            */
//            fetch('/test1?title=투피스&price=80000')
//        })
    </script>

</body>
</html>